.bio {
  --padding-timeline: 2rem;
  --animation-duration-fadein: 1s;
  --animation-duration-pulse: 2s;
  --color-timeline: #f1f1f1;
  --color-date: rgba(47,47,47,0.5);
  --color-company: rgba(47,47,47,0.5);
  --color-point: rgba(201, 204, 203);
  --color-point-active: #49B79C;
  --color-point-border: white;
  --color-base: #1f1f1f;
  
  padding-top: 4em;

  // background: rgba(white, 0.5);

  &__ {
    &heading,
    &list {
      transition: transform 0.4s;
      
      @media (min-width: 1200px) {
        transform: translate3d(calc(var(--navigation-width) / 2), 0, 0);
      }
    }

    &heading {
      text-align: center;
    }

    &list {
      padding: 4rem 0 0;
      position: relative;
      margin: 2rem auto 4rem;
      max-width: 550px;

      @media (max-width: 599px) {
        padding-right: 1rem;
      }
    }

    &line {
      background-color: var(--color-timeline);
      position: absolute;
      top: 0;
      height: 0;
      transform: translateX(-50%);
      width: 4px;

      @media (max-width: 599px) {
        left: 20px;
      }
      
      @media (min-width: 600px) {
        left: 50%;
      }

      .bio-visible & {
        height: 100%;
      }
    }

    &item {
      padding-bottom: 4rem;
      display: flex;
      position: relative;
      min-height: 3rem;

      @media (max-width: 599px) {
        flex-direction: column;
        padding-left: 45px;
      }
    }

    &info,
    &date {
      .bio-visible & {
        animation-name: bio1;
        animation-duration: var(--animation-duration-fadein);
        animation-fill-mode: forwards;
      }
    }

    &point {
      .bio-visible & {
        animation-name: bio2;
        animation-duration: var(--animation-duration-fadein);
        animation-fill-mode: forwards;
      }
    }

    &date,
    &info {
      box-sizing: border-box;
      
      @media (min-width: 600px) {
        width: 50%;
      }
    }

    &date {
      color: var(--color-date);
      line-height: 1.4;
      margin: 0 0 0.1rem;
      font-size: 0.9rem;
      
      @media (min-width: 600px) {
        .bio__item:nth-of-type(odd) & {
          text-align: right;
          order: 1;
          padding-right: var(--padding-timeline);
        }
  
        .bio__item:nth-of-type(even) & {
          text-align: left;
          order: 2;
          padding-left: var(--padding-timeline);
        }
      }
    }

    &point {
      position: absolute;
      top: 15px;
      width: 30px;
      transform: translateX(-50%);
      height: 30px;
      box-sizing: border-box;
      background-color: var(--color-point);
      border-radius: 50%;
      border: 8px solid var(--color-point-border);
      
      @media (max-width: 599px) {
        left: 20px;
      }
      
      @media (min-width: 600px) {
        left: 50%;
      }
      
      .bio__item--active & {
        background-color: var(--color-point-active);

        &:after {
          position: absolute;
          top: 0;
          content: "";
          left: 0;
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          background-color: var(--color-point-active);
          border-radius: 50%;
          animation: biopulse var(--animation-duration-pulse) infinite;
        }
      }
    }

    &info {
      @media (min-width: 600px) {
        .bio__item:nth-of-type(odd) & {
          text-align: left;
          order: 2;
          padding-left: var(--padding-timeline);
        }
  
        .bio__item:nth-of-type(even) & {
          text-align: right;
          order: 1;
          padding-right: var(--padding-timeline);
        }
        
        .bio__items .bio__item & {
          text-align: left;
          order: 1;
          padding: 0;
          
        }
      }
    }

    &title {
      font-weight: bold;
      line-height: 1.4;
      font-size: 1rem;
    }

    &company {
      position: relative;
      display: inline-block;
      font-size: 0.8em;
      color: var(--color-company);
    }
  }
}