.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-background-color);
  color: var(--footer-color-text);
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  height: var(--footer-height-footer);
  
  &__ {
    &love {
      font-size: 0.8rem;
      display: block;
    }
  }
}