.map {
  --zindex-fg: 2;
  --zindex-overlay: 1;
  --color-fg: white;
  --color-headline: rgba(255,255,255,0.6);
  --color-linkhover: #49B79C;
  --background-color-overlay: rgba(0, 0, 0, 0.7);
  --transition-duration: 0.4s;
  --animation-duration-cursor: 2s;

  position: relative;

  &:before {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    background-color: var(--background-color-overlay);
    z-index: var(--zindex-overlay);
  }

  &__ {
    &bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-image: url(https://dev.virtualearth.net/REST/V1/Imagery/Map/Road/Schweinfurt%2C%20Harald-Hamberg-Str.%206?mapSize=900,540&format=png&key=An06FWtbvzxSNX2q-xxo_2gBLytDRRGwrJV8BixyyyuW6o01MyyKVKez1Sh9M6bX);
    }
    
    &fg {
      position: relative;
      margin: 0 1rem;
      color: var(--color-fg);
      z-index: var(--zindex-fg);
      transition: transform var(--transition-duration), width var(--transition-duration) steps(1, start);
      
      @media (max-width: 767px) {
        padding: 4.5rem 0;
      }

      @media (min-width: 768px) {
        padding: 8rem 0;
      }
      
      @media (max-width: 799px) {
        margin: 0 1rem;
      }
      
      @media (min-width: 800px) {
        margin: 0 3rem;
      }
      
      @media(min-width: 1200px) {
        margin: 0 auto;
        width: calc(100vw - var(--navigation-width) - 5rem);
        max-width: 1024px;
        transform: translate3d(calc(var(--navigation-width) / 2), 0, 0);
      }
    }

    &head {
      text-align: center;
      margin-bottom: 2rem;
      transform: translateY(-100%);
    }

    &heading {
      display: flex;
      align-items: center;
      margin-bottom: 3rem;
    }

    &thumb {
      width: 60px;
      height: 60px;
      display: inline-block;
      border-radius: 50%;
    }

    &cursortext {
      @media (max-width: 767px) {
        margin-left: 0.6rem;
      }
      
      @media (min-width: 768px) {
        margin-left: 1rem;
      }
    }

    &cursorindicator {
      animation: cursor var(--animation-duration-cursor) infinite both;
    }

    &sections {
      max-width: 1100px;

      @media (min-width: 768px) {
        display: flex;
      }
    }

    &section {
      @media (max-width: 767px) {
        margin-top: 2rem;
      }
      
      @media (min-width: 768px) {
        margin-top: 2.5rem;
      }
      
      @media (min-width: 768px) and (max-width: 799px) {
        min-width: 200px;
      }

      @media (min-width: 800px) and (max-width: 1199px) {
        min-width: 300px;
      }
    }
    
    &spacer {
      @media (max-width: 767px) {
        display: none;
      }

      @media (min-width: 768px) {
        display: block;
        flex-grow: 1;
      }
    }

    &headline {
      color: var(--color-headline);
      font-size: 0.8rem;
      
      @media (max-width: 767px) {
        margin-bottom: 0.3rem;
      }

      @media (min-width: 768px) {
        margin-bottom: 0.5rem;
      }
    }
    
    &copy {
      line-height: 1.5;

      &--hover {
        transition: color var(--transition-duration);

        &:hover {
          color: var(--color-linkhover);
        }
      }
    }

  }
}
