.skills {
  --transition-duration: 0.4s;
  --transition-duration-progress: 2s;
  --color-progress: white;
  --color-progress-bg: rgba(0,0,0,0.1);
  --color-progress-bar: #49B79C;
  --color-text-shadow: rgba(black, 0.5);
  --zindex-progress-bar: 1;

  padding: 4em 1rem 0;
  transition: transform var(--transition-duration);

  @media (min-width: 860px) {
    transform: translateX(-10%);
  }

  &__ {
    &content {
      transition: transform var(--transition-duration);
      
      @media (min-width: 1200px) {
        transform: translate3d(calc(var(--navigation-width) / 2), 0, 0);
      }
    }

    &heading {
      text-align: center;
      margin-bottom: 2rem;
    }

    &items {
      margin: 0 auto;
      max-width: 500px;
    }

    &item {
      margin-bottom: 2rem;
    }

    &progress {
      color: var(--color-progress);
      position: relative;
      height: 22px;
      display: flex;
      align-items: center;
      background-color: var(--color-progress-bg);
      border-radius: 2rem;
      
      &:before {
        transition: width var(--transition-duration-progress) ease-out;
        content: "";
        position: absolute;
        left: 0;
        border-radius: 2rem;
        top: 0;
        height: 100%;
        z-index: var(--zindex-progress-bar);
        background-color: var(--color-progress-bar);
      }

      
      &--nativ {
        &:before {
          width: 100%;
        }

        .skills__level {
          left: 100%;
        }
      }

      &--negotiation {
        &:before {
          width: 85%;
        }

        .skills__level {
          left: 85%;
        }
      }

      &--mid {
        &:before {
          width: 65%;
        }

        .skills__level {
          left: 65%;
        }
      }

      &--foundations {
        &:before {
          width: 35%;
        }
        
        .skills__level {
          left: 35%;
        }
      }

      .skills:not(.skills-active) & {
        &:before {
          width: 0;
        }
      }
    }
    
    &level {
      overflow: hidden;
      position: relative;
      max-width: 200px;
      z-index: 2;
      padding-right: 1rem;
      font-size: 0.8em;
      opacity: 1;
      box-sizing: border-box;
      transition: opacity var(--transition-duration);
      transform: translateX(-100%);
      text-shadow: 0px 0px 1px var(--color-text-shadow);

      @media (max-width: 400px) {
        font-size: 0.6em;
      }
    }

    &label {
      margin: 0.3rem 0 0 0.2rem;
    }
  }
}